In [ ]:
#variables

In [1]:
name = 'Urooj'
print (name)

Urooj

In [2]:
name = 'Fatima'
print (name)

Fatima

In [3]:
name = 123
type (name)

int

In [4]:
name = True
print(name)

True

In [6]:
a1 = '123'
type(a1)

str

In [7]:
a a = '21'

SyntaxError: invalid syntax (<ipython-input-7-5e531d7b4a83>, line 1)

In [9]:
a_a = 123
a_a

123

In [10]:
my_first_schoo;_name_is_hpgs

NameError: name 'my_first_schoo' is not defined

In [11]:
father-name = ""

SyntaxError: can't assign to operator (<ipython-input-11-59b2dca22b81>, line 1)

In [12]:
my_first_school_name_is_hpgs = 123
my_first_school_name_is_hpgs

123

In [13]:
a = 2
b = 3
a-b

-1

In [14]:
a*b

6

In [15]:
a/b

0.6666666666666666

In [16]:
 a // b

0

In [17]:
10 / 3

3.3333333333333335

In [18]:
c = 10 
d = 3
c % d

1

In [19]:
c + 3

13

In [20]:
c

10

In [21]:
c = C+3
c

NameError: name 'C' is not defined

In [22]:
c = c + 3
c

13

In [23]:
c + = 5

SyntaxError: invalid syntax (<ipython-input-23-3e2a2c0e6295>, line 1)

In [27]:
c += 5
c

33

In [28]:
c += 5

In [29]:
c

38

In [30]:
c / = 2
c

SyntaxError: invalid syntax (<ipython-input-30-0c80a32bfe47>, line 1)

In [31]:
c /= 2
c

19.0

In [33]:
c //= 3
c

2.0

In [34]:
(3+2)*2+5/2

12.5

In [35]:
3 ** 2

9

In [36]:
(3+2) * 2 + 5**2 / 2

22.5

In [37]:
a < b

True

In [38]:
a > b

False

In [39]:
a <= b

True

In [40]:
a != b

True

In [41]:
a == b

False

# concatenating string

In [42]:
First_name = 'Urooj'
Last_name = 'Fatima'
print(First_name+Last_name)

UroojFatima

In [43]:
First_name = 'Urooj'
Last_name = 'Fatima'
print(First_name+" "+Last_name)

Urooj Fatima

In [44]:
len(First_name)

5

In [45]:
len(First_name+" "+Last_name)

12

In [46]:
print('abc'+123)

TypeError: can only concatenate str (not "int") to str

In [47]:
a = 10
type(a)

int

In [48]:
a=str(a)

'10'

In [49]:
print("The number is " + a)

The number is 10

In [50]:
name = 'Areeba'
age = 19
print ("My name is name and my age is age")

My name is name and my age is age

In [53]:
print("My name is " + name + " and age is " + str(age))

My name is Areeba and age is 19

# Format

In [55]:
name = 'Areeba'
age = 25
print('My name is {} and my age is {}.'.format(name,age))

My name is Areeba and my age is 25.

In [56]:
name = 'Areeba'
age = 25
print('My name is {1} and my age is {1}.'.format(name,age))

My name is 25 and my age is 25.

In [58]:
print('My name is {1} and my age is {0}.print('My name is {1} and my age is {0}.'.format(name,age))

SyntaxError: invalid syntax (<ipython-input-58-09b7ca7a5189>, line 1)

In [91]:
name = 'ahsan'
age = 21
print(f'My name is {name} and my age is {age})

SyntaxError: EOL while scanning string literal (<ipython-input-91-28c549925082>, line 3)

In [60]:
name = "How are you?"
print(name)

How are you?

In [61]:
name = "I am fine"
print(name)

I am fine

In [68]:
a_= "Hello fatima, would you like to learn some python today"
print(a_)

Hello fatima, would you like to learn some python today

In [69]:
str1.islower() : 
       print ("All characters in str1 are lower cased")

SyntaxError: invalid syntax (<ipython-input-69-dbef9918a431>, line 1)

In [71]:
name = "Urooj Fatima Zaidi"
print(name.lower())

urooj fatima zaidi

In [75]:
print(name.upper())

UROOJ FATIMA ZAIDI

In [74]:
print(name.title())

Urooj Fatima Zaidi

In [88]:
message = "William Shakespeare once said,There is nothing either good or bad, but thinking makes it so"
print(message)

TypeError: 'str' object is not callable

In [90]:
message = "William Shakespeare once said, There is nothing either good or bad, but thinking makes it so."
print(message)

TypeError: 'str' object is not callable